<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>nothere/noteme</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>    
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <div id="sisu">
        <div id="blueBar">
            <div id="menu">
                <a href="?page=login">login</a> <a href="?page=ideed">list</a> <a href="?page=logout">logout</a>
            </div>
        </div>
    </div>